<h1 class="text-muted text-center ">{{titulo}}</h1>

<form action="">
    <div id="container" class="input-group" name='alta'>
        <input type="text" name='nombre' class="form-control "
        placeholder="Escribi tu nombre aca"
        [(ngModel)]="nombre"><br>
        <input type="text" name='apellido' class="form-control "
        placeholder="Escribi tu apellido"
        [(ngModel)]="apellido"><br>    
        <input type="number" name='legajo' class="form-control "
        placeholder="Escribi tu legajo"      
        [(ngModel)]="legajo"><br>
        <input type="text" name='materias' class="form-control "
        placeholder='Coloque las materias'        
        [(ngModel)]="materias"><br>
        <input type="button" class="btn btn-primary" value="Guardar" (click)='Cargar($event)'>
    

    </div>
</form>
